@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;700;900&family=Playfair+Display:wght@400;600;700;800;900&display=swap');

// font-family: 'Fira Sans', sans-serif;
// font-family: 'Playfair Display', serif;

.mobileItems {
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  font-size: 6.4rem;
}
